* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
} 
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hero section*/
#hero{
    background-image: url(./images/background_image.png);
    background-size: cover;
}
/*End hero section*/
#hero h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: #1a202c;
}
#hero h1 span{
    color: #716b94;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: #716b94;
    border: 2px solid #716b94;
    font-size: 1rem;
    text-transform: capitalize;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover{
    color: white;
    background-color: #716b94;


}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}


