* {
    padding: 0;
    margin: 0;
}
html , body{
    font-family: 'Courier New', Courier, monospace;
    height: 600px;
  background-image: url(./images/background_image.png);
} 
.myNavbar{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;

}
.myNavbar ul{
    display: flex;   
    padding: 16px;
}
.myNavbar ul li  {
    padding: 16px;
    list-style: none;
}
.myNavbar ul li a {
    text-decoration: none;
    font-weight: 1000;
}

.myNavbar a{
    position: relative;
}
.myNavbar a ::before{
    content: "";
    left: 0;
    height: 2px;
    width:0;
    background-color:#ae1423 ;
    position: absolute;
    bottom: -4px;
}
.myNavbar a :hover {
    color: rgb(126, 0, 0);
    width:100%;
}
.myNavbar a :hover::before {
    width:100%;
}
/* Hero section*/
#hero{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.herocontainer{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*End hero section*/
#hero h1{
    display: block;
    font-size: 3rem;
    color: #1a202c;
    
}
#hero h1 span{
    color: #716b94;
}*
 .cta{
    display: inline-block;
    padding: 10px 30px;
    color:#716b94;
    border: 2px solid #716b94;
    font-size: 1rem;
    text-transform: capitalize;
    margin-top: 30px;
    transition:all .4s ease;
} 
.cta i{
    transition: all .4s ease;
}  
.cta:hover{
    color: white;
    background-color: #716b94;

}
.cta:hover i{
    transform: rotate(90deg);   
}

  .plus li a{
        border-radius: 5px;
  }
   .plus ul {
    width: 80%;
    justify-content:space-between;
   }
  .plus {
    display:flex;
    flex-direction: column  ;
    align-items: center;
    text-align: center;
    left: 22px;
}
.title{
    color: #716b94;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color:purple;
    width: 100%;
    height:100px;
    top: 50px;
}
.title span{
    border-width: 20px 0 0 px;
    border-radius: 5px;
    background-color: #6f56b3;
    position: absolute;
    width: 80px;
    height: 5px;
    margin-bottom: -25px;
}
/* Three image containers  */
.row {
    display: flex;
    justify-content: center;
  flex-wrap: wrap;
  }
.column img {
    position: relative;
    float: left;
    width: 400px;
    height: 250px;
    padding: 5px;
    border-radius: 20px;
    top: 119px;
  }
  /*about section*/
  .about{
    color: #000000;
    text-align: center;
}
  .about span{
    position: absolute;
    left:0;
    height:5px;
    border: #716b94;
    width:8%;
    bottom:88%;
    border-radius: 3px;
    background: #716b94;
    margin-left: 46%;
}
.tab{
   display: flex;
   justify-content: center;
    position: relative;
}
.tab ul{
    padding: 14px;
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.tab ul li {
    border:2px solid #716b94;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 20px;
    margin: 10px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
}


.tab i{
    font-size: 30px;
}

.img-container div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: url(images/background_image.png);
    opacity: 0;
    transition:all 0.7s ease ;
    border-radius: 14px;
}
.img-container:hover div{
    opacity: 1;
}
  .description{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-right:50px;

}
.description img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.description p{
    text-align: center;
    width: 250px;
    font-size: 15px;
}
.description-container{
    display:flex;
    align-items: center;
    width:90%;
    margin:0 auto;
    position: relative;
}
.description h1{
    font-size: 20px ;
    margin: 15px 0px;
}
.containerr{
    position:relative;
    border-width: 10px;
    background: aliceblue;
    border-radius: 10px;
    height: 30px;
    width: 500px;
    display: flex;
 justify-content: flex-start;

    top: 20px;
   margin: 10px;
}
.wide{
    position:absolute;
    border-width: 10px;
    background: rgb(113, 173, 225);
    border-radius: 10px;
    height: 30px;
    width: 400px;
    display: flex;
 justify-content: flex-start;
}
#prc{
position: relative;
left: 470px;
top: -15px;
}
/* social media icons styling */

/* footer styling */
#footer {
   display: flex;
   justify-content: center;
   margin: 16px;
}


